:root{
    --primary: #3366ff;
    --primary-dark: #0033cc; 
    --del: #ff6666;
}
body{
    font-family: 'Varela Round';
    width: 300px;
}

*{
    box-sizing: border-box;
    font-size: 16px;
}
li{
    list-style-type: none;
}
textarea{
    resize: vertical;
}
::-webkit-scrollbar {
    width: 15px;
    /* height: 2em; */
}
/* ::-webkit-scrollbar-button {
    background: #ccc
} */
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}​
.ntnt-setting-language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ntnt-select-box{
    padding: 5px;
}
.ntnt-select-box:focus{
    outline: none;
}
.ntnt-select-box--border{
    border: 2px solid var(--primary);
    border-radius: 5px;
}

.ntnt-traslate-box{
    display: flex;
    flex-direction: column;
}
.ntnt-traslate-box__input{
    border: 2px solid var(--primary);
}
.ntnt-traslate-box__input:focus{
    outline: none;
    border: 2px solid var(--primary-dark);
}
.ntnt-traslate-box__btn{
    padding: 5px;
    color: white;

    background-color: var(--primary);

    border: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ntnt-traslate-box__btn:hover{
    background-color: var(--primary-dark);
}

#ntnt-data-note{
    width: 100%;
    max-height: 300px;
    padding-left: 10px;
    padding-right: 16px;

    word-wrap: break-word;

    overflow-y: scroll;
    scrollbar-width: thin;
}

#ntnt-data-note > li{
    margin-bottom: 10px;
    padding: 5px;
}

.ntnt-data-note__word-header{
    margin: 0;

    font-weight: 600;
}

.ntnt-data-note__word-header::after{
    content: ':';
}
.ntnt-data-note__row{
    position: relative;
}
.ntnt-data-note__row:hover{
    border-radius: 10px;
}
.ntnt-data-note__row:hover::after{
    content: "X";
    font-weight: 800;
    padding: 5px;

    position: absolute;
    right: 0px;
    top: 0px;

    background-color: var(--del);
    border-radius: 5px;
}